<a href="https://colab.research.google.com/github/sa96102/Python_exam/blob/master/Movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import json

### Load Dataset (Use The Movies Dataset(kaggle))

In [0]:
meta = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Python_exam/Data/the-movies-dataset/movies_metadata.csv')

meta.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
meta = meta[['id', 'original_title', 'original_language', 'genres']]
meta = meta.rename(columns={'id':'movieId'})
meta = meta[meta['original_language'] == 'en']
meta.head()

  movieId  ...                                             genres
0     862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4   11862  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 4 columns]

In [0]:
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Python_exam/Data/the-movies-dataset/ratings_small.csv')
# ratings.head()
ratings = ratings[['userId', 'movieId', 'rating']]
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [0]:
ratings.describe() # 데이터의 대략적인 개요 확인.

              userId        movieId         rating
count  100004.000000  100004.000000  100004.000000
mean      347.011310   12548.664363       3.543608
std       195.163838   26369.198969       1.058064
min         1.000000       1.000000       0.500000
25%       182.000000    1028.000000       3.000000
50%       367.000000    2406.500000       4.000000
75%       520.000000    5418.000000       4.000000
max       671.000000  163949.000000       5.000000

### Refine Dataset

In [0]:
meta.movieId = pd.to_numeric(meta.movieId, errors='coerce') # pd.to_numeric()_문자열을 숫자 타입으로 변환.
ratings.movieId = pd.to_numeric(ratings.movieId, errors='coerce')

In [0]:
def parse_genres(genres_str):
    genres = json.loads(genres_str.replace('\'', '"'))

    genres_list = []
    for g in genres:
        genres_list.append(g['name'])

    return genres_list

In [0]:
meta['genres'] = meta['genres'].apply(parse_genres) # df.apply()_각 행에 해당 함수 적용.

meta.head()

   movieId  ...                        genres
0      862  ...   [Animation, Comedy, Family]
1     8844  ...  [Adventure, Fantasy, Family]
2    15602  ...             [Romance, Comedy]
3    31357  ...      [Comedy, Drama, Romance]
4    11862  ...                      [Comedy]

[5 rows x 4 columns]

### Merge Metadata and Raings

In [0]:
data = pd.merge(ratings, meta, on='movieId', how='inner') # pd.merge()_두 개의 데이터프레임 병합. 여기에서는 inner방식으로 movieId를 기준으로 합침.

data.head()

   userId  movieId  rating original_title original_language   genres
0       1     1371     2.5      Rocky III                en  [Drama]
1       4     1371     4.0      Rocky III                en  [Drama]
2       7     1371     3.0      Rocky III                en  [Drama]
3      19     1371     4.0      Rocky III                en  [Drama]
4      21     1371     3.0      Rocky III                en  [Drama]

### Pivot Table

In [0]:
matrix = data.pivot_table(index='userId', columns='original_title', values='rating')

matrix.head(20)

original_title  !Women Art Revolution  ...  Мой сводный брат Франкенштейн
userId                                 ...
1                                 NaN  ...                            NaN
2                                 NaN  ...                            NaN
3                                 NaN  ...                            NaN
4                                 NaN  ...                            NaN
5                                 NaN  ...                            NaN
6                                 NaN  ...                            NaN
7                                 NaN  ...                            NaN
8                                 NaN  ...                            NaN
9                                 NaN  ...                            NaN
10                                NaN  ...                            NaN
11                                NaN  ...                            NaN
12                                NaN  ...                            NaN
13                                NaN  ...                            NaN
14                                NaN  ...                            NaN
15                                NaN  ...                            NaN
16                                NaN  ...                            NaN
17                                NaN  ...                            NaN
18                                NaN  ...                            NaN
19                                NaN  ...                            NaN
20                                NaN  ...                            NaN

[20 rows x 2034 columns]

### Use Pearson Correlation

In [0]:
GENRE_WEIGHT = 0.1

In [0]:
def pearsonR(s1, s2):
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [0]:
def recommend(input_movie, matrix, n, similar_genre=True):
    input_genres = meta[meta['original_title'] == input_movie]['genres'].iloc(0)[0] 
    # 영화의 장르를 input_genres에 저장.

    result = []
    for title in matrix.columns:
        if title == input_movie:
            continue # 같은 영화를 추천받게 되는 경우, 넘김.

        # rating comparison
        cor = pearsonR(matrix[input_movie], matrix[title]) # 값이 높을수록 상관관계가 큼.

        # genre comparison
        if similar_genre and len(input_genres) > 0:
            temp_genres = meta[meta['original_title'] == title]['genres'].iloc(0)[0]

            same_count = np.sum(np.isin(input_genres, temp_genres)) # np.isin()_배열을 비교하여 같은 요소가 있으면 True로 반환.
            cor += (GENRE_WEIGHT * same_count)

        if np.isnan(cor):
            continue
        else:
            result.append((title, '{: .2f}'.format(cor), temp_genres))

    result.sort(key=lambda r: r[1], reverse=True) # rating이 높은 순서대로(내림차순) 정렬.

    return result[:n] # n개만큼만 리턴.

### Recommend

In [0]:
recommend_result = recommend('The Dark Knight', matrix, 10, similar_genre=True)

pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

                       Title Correlation                                 Genre
0            Treasure Island       -0.64                   [Adventure, Family]
1           The History Boys       -0.60                       [Comedy, Drama]
2              A Close Shave       -0.53           [Family, Animation, Comedy]
3               Galaxy Quest       -0.45     [Comedy, Family, Science Fiction]
4  Gremlins 2: The New Batch       -0.45             [Comedy, Horror, Fantasy]
5              Shine a Light       -0.45                  [Documentary, Music]
6          The African Queen       -0.44             [Adventure, War, Romance]
7     Blondie of the Follies       -0.42                       [Comedy, Drama]
8           Schindler's List       -0.41                 [Drama, History, War]
9                       Hook       -0.40  [Adventure, Fantasy, Comedy, Family]